# Environment Configuration
SERVER_PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL=postgres://tcc:root@localhost:5432/tcc
DB_PORT=5432

# Auth Configuration
JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=12h #in hours
REFRESH_JWT_SECRET=secret123
REFRESH_JWT_EXPIRES_IN=24h #in hours
SESSION_STORAGE_METHOD=database # database or redis
SESSION_EXPIRES_IN=24h # in hours
COOKIE_EXPIRES_IN=12h # in hours
HASH_SALT_ROUNDS=10 # bcrypt salt rounds 

# Default admin Configuration
DEFAULT_ADMIN_USERNAME=admin123
DEFAULT_ADMIN_EMAIL=admin123@gmail.com
DEFAULT_ADMIN_PASSWORD=admin123

# Redis Configuration
REDIS_ENABLED=true # true or false 
REDIS_HOST=127.0.0.1  # If you are using a different host for Redis, change it accordingly 
REDIS_PORT=6379 # If you are using a different port for Redis, change it accordingly
REDIS_PASSWORD=null # If you have a password for Redis, set it here

# Bull MQ 
BULLBOARD_PORT=3001

